<html>
<head>
     <meta charset="utf-8">
     <title>抽奖程序</title>
</head>
<body>

     <ul class="抽奖">
       <form name="input"  method="post">
           <h1><font style="color:black">奖项设置</font></h1>
           一等奖个数:<input type = "number" name="firstnumber"><br>
           二等奖个数:<input type = "number" name="secondnumber"><br>
           三等奖个数:<input type = "number" name="thirdnumber"><br>
           <h4><font style="color:black">请输入抽奖人员名单:</font></h4>
           <textarea rows = "20" cols = "30" name="peoplelist"></textarea><br>
           <input type="submit" value="提交">
       </form>  

    </ul>
</body>
</html>
